.header {
  background-color: #bc5435;
  width: 95%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin-top: 15px;
}

.header__subtitle {
  font-size: 1.3rem;
}
