.footer {
  background-color: white;
  width: 95%;
  color: #bc5435;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 15px;
}
